.headerSection {
  height: 120px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  z-index: 9;
  position: relative;
  &.active {
    position: fixed;
    top: 0px;
    z-index: 999;
  }
  .mainLogo {
    img {
      height: 110px;
      width: auto;
    }
  }
  .mainNavigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 50px;
    li {
      a {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        color: #000000;
        transition: color 0.3s ease;
        &:hover {
          color: #ca0101;
          transition: color 0.3s ease;
        }
      }
      &:last-child {
        a {
          background: #ca0101;
          color: #fff;
          height: 50px;
          display: flex;
          width: 200px;
          font-weight: 600;
          justify-content: center;
          align-items: center;
          border-radius: 52px;
          transition: background 0.3s ease;
          &:hover {
            background: #263358;
            transition: background 0.3s ease;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  .headerSection {
    height: 100px;
    .mainLogo {
      img {
        height: 90px;
      }
    }
    .mainNavigation {
      gap: 45px;
      li {
        a {
          font-size: 16px;
          line-height: 25px;
        }
        &:last-child {
          a {
            height: 45px;
            width: 180px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1300px) and (max-width: 1399px) {
  .headerSection {
    height: 100px;
    .mainLogo {
      img {
        height: 90px;
      }
    }
    .mainNavigation {
      gap: 45px;
      li {
        a {
          font-size: 16px;
          line-height: 25px;
        }
        &:last-child {
          a {
            height: 45px;
            width: 180px;
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 1100px) and (max-width: 1299px) {
  .headerSection {
    height: 90px;
    .mainLogo {
      img {
        height: 80px;
      }
    }
    .mainNavigation {
      gap: 45px;
      li {
        a {
          font-size: 16px;
          line-height: 25px;
        }
        &:last-child {
          a {
            height: 45px;
            width: 180px;
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 900px) and (max-width: 1099px) {
  .headerSection {
    height: 90px;
    .mainLogo {
      img {
        height: 80px;
      }
    }
    .mainNavigation {
      gap: 40px;
      li {
        a {
          font-size: 16px;
          line-height: 25px;
        }
        &:last-child {
          a {
            height: 45px;
            width: 180px;
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 768px) and (max-width: 899px) {
  .headerSection {
    height: 80px;
    .mainLogo {
      img {
        height: 75px;
      }
    }
    .mainNavigation {
      gap: 20px;
      li {
        a {
          font-size: 14px;
          line-height: 22px;
        }
        &:last-child {
          a {
            height: 40px;
            width: 130px;
            padding: 0px 10px;
            font-size: 13px;
            font-weight: 400;
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .headerSection {
    height: 70px;
    .mainLogo {
      img {
        height: 60px;
      }
    }
    .mainNavigation {
      gap: 10px;
      li {
        a {
          font-size: 13px;
          line-height: 20px;
        }
        &:last-child {
          a {
            height: 35px;
            width: 140px;
            padding: 0px 10px;
            font-size: 13px;
            font-weight: 400;
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 0px) and (max-width: 575px) {
  .headerSection {
    height: 60px;
    .mainLogo {
      img {
        height: 55px;
      }
    }
    .mainNavigation {
      position: fixed;
      width: 300px;
      height: calc(100vh - 0px);
      background: #fff;
      backdrop-filter: blur(7.5px);
      top: 60px;
      right: -300px;
      transition: width 0.5s, opacity 0.5s;
      z-index: 9;
      opacity: 0;
      overflow: auto;
      animation: slideFromTop 0.5s forwards;
      border: 0px;
      border-radius: 0px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 30px;
      gap: 20px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      &.active {
        right: 0px;
        opacity: 1;
        animation: slideFromTop 0.5s forwards;
        flex-direction: column;
        justify-content: flex-start;

        li {
          text-align: left;
          a {
            font-size: 14px;
            line-height: 22px;
          }
          &:last-child {
            a {
              height: 40px;
              width: 140px;
              padding: 0px 10px;
              font-size: 13px;
              font-weight: 400;
            }
          }
        }
      }
    }
  }
}
