.thanksSection {
  height: 600px;
  .boxTitle {
    a {
      color: #fff;
      background: #ca0101;
      border-radius: 52px;
      justify-content: center;
      align-items: center;
      width: 200px;
      height: 50px;
      font-weight: 600;
      transition: background 0.3s;
      display: flex;
      margin: 30px auto;
    }
  }
}
