.bannerSection {
  padding-top: 100px;
  background: #fff;
  padding-bottom: 100px;

  .formBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .inputBox {
      margin-bottom: 10px;
      flex: 0 0 100%;
      label {
        display: block;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 28px;
        color: #000000;
        margin-bottom: 10px;
      }
      input {
        width: 100%;
        height: 50px;
        border: 0px;
        outline: none;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: rgba(0, 0, 0, 0.3);
        background: #ededed;
        padding-left: 10px;
      }
      textarea {
        width: 100%;
        height: 120px;
        background: #ededed;
        border: 0px;
        outline: none;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: rgba(0, 0, 0, 0.3);
        padding-left: 10px;
        padding-top: 10px;
      }
      .checkboxGroup {
        display: flex;
        margin-top: 20px;
        label {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 40px;
          input {
            width: 20px;
            height: 20px;
            margin-right: 10px;
          }
        }
      }
      &.flex3 {
        flex: 0 0 calc(100% / 3 - 10px);
      }
    }
    .inputCheckbox {
      display: flex;
      margin-bottom: 20px;
      cursor: pointer;
      label {
        display: flex;
        justify-content: center;
        margin-right: 20px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #000000;
        gap: 10px;
        input {
          flex: 0 0 20px;
          height: 20px;
        }
      }
    }
    .inputSubmit {
      flex: 0 0 100%;
      button {
        width: 100%;
        height: 50px;
        background: #ca0101;
        border-radius: 52px;
        margin-bottom: 20px;
        border: 0px;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        color: #ffffff;
      }
    }
    p {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      color: #000000;
      a {
        color: #000000;
        &:hover {
          color: #ca0101;
        }
      }
    }
  }
  .addressBox {
    background: #263358;
    border-radius: 20px;
    padding: 50px;
    height: 100%;
    h4 {
      font-style: normal;
      font-weight: 600;
      font-size: 35px;
      line-height: 45px;
      color: #ffffff;
      margin-bottom: 20px;
    }
    .addList {
      li {
        display: flex;
        margin-bottom: 20px;
        .icon {
          flex: 0 0 40px;
          margin-right: 20px;
          svg {
            width: auto;
            height: 30px;
          }
        }
        .value {
          h6 {
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            color: #ffffff;
          }
          p {
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 20px;
            color: #ffffff;
            margin-bottom: 20px;
            a {
              color: #ffffff;
              &:hover {
                color: #ca0101;
              }
            }
          }
        }

        .hours {
          margin-top: 20px;
          li {
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 20px;
            color: #ffffff;
            margin-bottom: 10px;
            span {
              width: 130px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  .bannerSection {
    padding-top: 80px;
    padding-bottom: 80px;

    .formBox {
      .inputBox {
        flex: 0 0 100%;
        label {
          font-size: 16px;
          line-height: 28px;
        }
        input {
          height: 40px;
          font-size: 14px;
        }
        textarea {
          height: 120px;
          font-size: 14px;
          line-height: 21px;
        }
        .checkboxGroup {
          margin-top: 20px;
          label {
            margin-right: 40px;
            input {
              width: 20px;
              height: 20px;
              margin-right: 10px;
            }
          }
        }
        &.flex3 {
          flex: 0 0 calc(100% / 3 - 10px);
        }
      }
      .inputCheckbox {
        margin-bottom: 20px;
        label {
          margin-right: 20px;
          font-size: 14px;
          line-height: 21px;
          gap: 10px;
          input {
            flex: 0 0 20px;
            height: 20px;
          }
        }
      }
      .inputSubmit {
        flex: 0 0 100%;
        button {
          width: 100%;
          height: 50px;
          font-size: 18px;
          line-height: 27px;
        }
      }
      p {
        font-size: 14px;
        line-height: 21px;
      }
    }
    .addressBox {
      padding: 40px;
      h4 {
        font-size: 30px;
        line-height: 45px;
        margin-bottom: 20px;
      }
      .addList {
        li {
          margin-bottom: 40px;
          .icon {
            flex: 0 0 35px;
            margin-right: 15px;
            svg {
              width: auto;
              height: 25px;
            }
          }
          .value {
            h6 {
              font-size: 16px;
              line-height: 22px;
              color: #ffffff;
            }
            p {
              font-size: 14px;
              line-height: 20px;
            }
          }

          .hours {
            li {
              font-size: 15px;
              line-height: 20px;
            }
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 1300px) and (max-width: 1399px) {
  .bannerSection {
    padding-top: 70px;
    padding-bottom: 70px;

    .formBox {
      .inputBox {
        flex: 0 0 100%;
        label {
          font-size: 14px;
          line-height: 26px;
        }
        input {
          height: 40px;
          font-size: 13px;
        }
        textarea {
          height: 120px;
          font-size: 13px;
          line-height: 21px;
        }
        .checkboxGroup {
          margin-top: 20px;
          label {
            margin-right: 40px;
            input {
              width: 20px;
              height: 20px;
              margin-right: 10px;
            }
          }
        }
        &.flex3 {
          flex: 0 0 calc(100% / 3 - 10px);
        }
      }
      .inputCheckbox {
        margin-bottom: 20px;
        label {
          margin-right: 20px;
          font-size: 13px;
          line-height: 21px;
          gap: 10px;
          input {
            flex: 0 0 20px;
            height: 20px;
          }
        }
      }
      .inputSubmit {
        button {
          height: 45px;
          font-size: 16px;
          line-height: 22px;
        }
      }
      p {
        font-size: 14px;
        line-height: 21px;
      }
    }
    .addressBox {
      padding: 40px;
      h4 {
        font-size: 30px;
        line-height: 45px;
        margin-bottom: 20px;
      }
      .addList {
        li {
          margin-bottom: 40px;
          .icon {
            flex: 0 0 35px;
            margin-right: 15px;
            svg {
              width: auto;
              height: 25px;
            }
          }
          .value {
            h6 {
              font-size: 16px;
              line-height: 22px;
              color: #ffffff;
            }
            p {
              font-size: 14px;
              line-height: 20px;
            }
          }

          .hours {
            li {
              font-size: 15px;
              line-height: 20px;
            }
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 1100px) and (max-width: 1299px) {
  .bannerSection {
    padding-top: 60px;
    padding-bottom: 60px;

    .formBox {
      .inputBox {
        flex: 0 0 100%;
        label {
          font-size: 14px;
          line-height: 26px;
        }
        input {
          height: 40px;
          font-size: 13px;
        }
        textarea {
          height: 120px;
          font-size: 13px;
          line-height: 21px;
        }
        .checkboxGroup {
          margin-top: 20px;
          label {
            margin-right: 40px;
            input {
              width: 20px;
              height: 20px;
              margin-right: 10px;
            }
          }
        }
        &.flex3 {
          flex: 0 0 calc(100% / 3 - 10px);
        }
      }
      .inputCheckbox {
        margin-bottom: 20px;
        label {
          margin-right: 20px;
          font-size: 13px;
          line-height: 21px;
          gap: 10px;
          input {
            flex: 0 0 20px;
            height: 20px;
          }
        }
      }
      .inputSubmit {
        button {
          height: 45px;
          font-size: 16px;
          line-height: 22px;
        }
      }
      p {
        font-size: 14px;
        line-height: 21px;
      }
    }
    .addressBox {
      padding: 30px;
      h4 {
        font-size: 30px;
        line-height: 45px;
        margin-bottom: 20px;
      }
      .addList {
        li {
          margin-bottom: 40px;
          .icon {
            flex: 0 0 35px;
            margin-right: 15px;
            svg {
              width: auto;
              height: 25px;
            }
          }
          .value {
            h6 {
              font-size: 16px;
              line-height: 22px;
              color: #ffffff;
            }
            p {
              font-size: 14px;
              line-height: 20px;
            }
          }

          .hours {
            li {
              font-size: 15px;
              line-height: 20px;
            }
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 900px) and (max-width: 1099px) {
  .bannerSection {
    padding-top: 50px;
    padding-bottom: 50px;
    .formBox {
      .inputBox {
        flex: 0 0 100%;
        label {
          font-size: 14px;
          line-height: 26px;
        }
        input {
          height: 35px;
          font-size: 13px;
        }
        textarea {
          height: 100px;
          font-size: 13px;
          line-height: 21px;
        }
        .checkboxGroup {
          margin-top: 20px;
          label {
            margin-right: 40px;
            input {
              width: 18px;
              height: 18px;
              margin-right: 10px;
            }
          }
        }
        &.flex3 {
          flex: 0 0 calc(100% / 3 - 10px);
        }
      }
      .inputCheckbox {
        margin-bottom: 20px;
        label {
          margin-right: 20px;
          font-size: 13px;
          line-height: 21px;
          gap: 10px;
          input {
            flex: 0 0 18px;
            height: 18px;
          }
        }
      }
      .inputSubmit {
        button {
          height: 40px;
          font-size: 15px;
          line-height: 22px;
        }
      }
      p {
        font-size: 13px;
        line-height: 20px;
      }
    }
    .addressBox {
      padding: 20px;
      h4 {
        font-size: 25px;
        line-height: 45px;
        margin-bottom: 20px;
      }
      .addList {
        li {
          margin-bottom: 40px;
          .icon {
            flex: 0 0 30px;
            margin-right: 10px;
            svg {
              width: auto;
              height: 25px;
            }
          }
          .value {
            h6 {
              font-size: 15px;
              line-height: 22px;
              color: #ffffff;
            }
            p {
              font-size: 13px;
              line-height: 20px;
            }
          }

          .hours {
            li {
              font-size: 13px;
              line-height: 13px;
            }
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 768px) and (max-width: 899px) {
  .bannerSection {
    padding-top: 40px;
    padding-bottom: 40px;
    .formBox {
      .inputBox {
        flex: 0 0 100%;
        label {
          font-size: 14px;
          line-height: 26px;
        }
        input {
          height: 35px;
          font-size: 13px;
        }
        textarea {
          height: 100px;
          font-size: 13px;
          line-height: 21px;
        }
        .checkboxGroup {
          margin-top: 20px;
          label {
            margin-right: 40px;
            input {
              width: 18px;
              height: 18px;
              margin-right: 10px;
            }
          }
        }
        &.flex3 {
          flex: 0 0 calc(100% - 10px);
        }
      }
      .inputCheckbox {
        margin-bottom: 20px;
        label {
          margin-right: 20px;
          font-size: 13px;
          line-height: 21px;
          gap: 10px;
          input {
            flex: 0 0 18px;
            height: 18px;
          }
        }
      }
      .inputSubmit {
        button {
          height: 40px;
          font-size: 15px;
          line-height: 22px;
        }
      }
      p {
        font-size: 13px;
        line-height: 20px;
      }
    }
    .addressBox {
      padding: 20px;
      h4 {
        font-size: 25px;
        line-height: 45px;
        margin-bottom: 20px;
      }
      .addList {
        li {
          margin-bottom: 40px;
          .icon {
            flex: 0 0 30px;
            margin-right: 10px;
            svg {
              width: auto;
              height: 25px;
            }
          }
          .value {
            h6 {
              font-size: 15px;
              line-height: 22px;
              color: #ffffff;
            }
            p {
              font-size: 13px;
              line-height: 20px;
            }
          }

          .hours {
            li {
              font-size: 13px;
              line-height: 13px;
            }
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .bannerSection {
    padding-top: 40px;
    padding-bottom: 40px;
    .formBox {
      .inputBox {
        flex: 0 0 100%;
        label {
          font-size: 14px;
          line-height: 26px;
        }
        input {
          height: 35px;
          font-size: 13px;
        }
        textarea {
          height: 100px;
          font-size: 13px;
          line-height: 21px;
        }
        .checkboxGroup {
          margin-top: 20px;
          label {
            margin-right: 40px;
            input {
              width: 18px;
              height: 18px;
              margin-right: 10px;
            }
          }
        }
        &.flex3 {
          flex: 0 0 calc(100% - 10px);
        }
      }
      .inputCheckbox {
        margin-bottom: 20px;
        label {
          margin-right: 20px;
          font-size: 13px;
          line-height: 21px;
          gap: 10px;
          input {
            flex: 0 0 18px;
            height: 18px;
          }
        }
      }
      .inputSubmit {
        button {
          height: 40px;
          font-size: 15px;
          line-height: 22px;
        }
      }
      p {
        font-size: 13px;
        line-height: 20px;
      }
    }
    .addressBox {
      padding: 20px;
      margin-bottom: 20px;
      height: auto;
      h4 {
        font-size: 25px;
        line-height: 45px;
        margin-bottom: 20px;
      }
      .addList {
        li {
          margin-bottom: 40px;
          .icon {
            flex: 0 0 30px;
            margin-right: 10px;
            svg {
              width: auto;
              height: 25px;
            }
          }
          .value {
            h6 {
              font-size: 15px;
              line-height: 22px;
              color: #ffffff;
            }
            p {
              font-size: 13px;
              line-height: 20px;
            }
          }

          .hours {
            li {
              font-size: 13px;
              line-height: 13px;
            }
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 0px) and (max-width: 575px) {
  .bannerSection {
    padding-top: 25px;
    padding-bottom: 25px;
    .formBox {
      .inputBox {
        flex: 0 0 100%;
        label {
          font-size: 14px;
          line-height: 26px;
        }
        input {
          height: 35px;
          font-size: 13px;
        }
        textarea {
          height: 100px;
          font-size: 13px;
          line-height: 21px;
        }
        .checkboxGroup {
          margin-top: 20px;
          label {
            margin-right: 40px;
            input {
              width: 18px;
              height: 18px;
              margin-right: 10px;
            }
          }
        }
        &.flex3 {
          flex: 0 0 calc(100% - 10px);
        }
      }
      .inputCheckbox {
        margin-bottom: 20px;
        label {
          margin-right: 20px;
          font-size: 13px;
          line-height: 21px;
          gap: 10px;
          input {
            flex: 0 0 18px;
            height: 18px;
          }
        }
      }
      .inputSubmit {
        button {
          height: 40px;
          font-size: 15px;
          line-height: 22px;
        }
      }
      p {
        font-size: 13px;
        line-height: 20px;
      }
    }
    .addressBox {
      padding: 20px;
      margin-bottom: 20px;
      height: auto;
      h4 {
        font-size: 25px;
        line-height: 45px;
        margin-bottom: 20px;
      }
      .addList {
        li {
          margin-bottom: 40px;
          .icon {
            flex: 0 0 30px;
            margin-right: 0px;
            svg {
              width: auto;
              height: 20px;
            }
          }
          .value {
            h6 {
              font-size: 15px;
              line-height: 22px;
              color: #ffffff;
            }
            p {
              font-size: 13px;
              line-height: 20px;
            }
          }

          .hours {
            li {
              font-size: 13px;
              line-height: 13px;
            }
          }
        }
      }
    }
  }
}
